<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
 <body>
  <div class="footer">
    <div class="row">
      <div class="col left">
        <h2>About IT Job Portal</h2>
        <p>
          The IT Job Portal app has been designed using HTML, CSS and Python.
          Beautifulsoup is used to scrape content from another website by
          making use of urllib which fetches the http response from the
          website.Flask framework has been used to develop this website.
        </p>
      </div>
      <div class="col right">
        <h2>Contact us</h2>
        <a
          href="https://www.facebook.com/bhawana.yadav8/"
          class="fa fa-facebook"
        ></a>
        <a
          href="https://www.linkedin.com/in/bhawana-yadav-58414315a/"
          class="fa fa-linkedin"
        ></a>
      </div>
    </div>
  
  
    
      <p style="margin-bottom: 2%;">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved ||
      </p>
  
  
  </div>
 </body>
</html>
